<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
=======

>>>>>>> 05c6e9e084b07374c4529a1080d33f60defd1ccf
<p class="flash"><%= flash.notice %></p>
<%= yield %>

</body>
</html>
